body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #fff;
}
input{
  font-size: 20px;
  width: 500px;
  height: 50px;
  background: transparent;
  border: none;
  border-bottom: #333 5px solid;
}
#login-form{
  position: relative;
  margin-top: 550px;
  font-size: 40px;

}
#clock {
  position: absolute;
  top: 380px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  font-size: 150px;
    font-weight: bold;
  z-index: -1;
  
}
#greeting{
  position: relative;
  margin-top: 550px;
  font-size: 40px;
  z-index: -1;
  
}
#todos {
  color: black;
  font-size: 30px;
  margin-top: 50px;
  z-index: -1;
}

input::placeholder{
  color: #333;
  font-size: 15px;
}
#todo-list{
  color: black;
  font-size: 20px;
  font-weight: bold;
  list-style-type: none;
}
button {
  font-size: 20px;
  background: transparent;
  border: none;
}
img {
  position:absolute;
  width:100%;
  height:100%;
  left: 0px;
  top: 0px;
  right:0px;
  bottom:0px;
  z-index: -2;
  opacity:80%;
  }
.hidden {
  display: none;
}
#quote{
  position: relative;
  top: 80px;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: bold;

}
#weather{
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 25px;
}
